body {
  padding: 0;
  margin: 0;
  background-color:white;
  font-family: 'Playfair Display', serif;
  color: #fff;
  overflow-x: hidden;
  font-weight: normal!important;
}

i{
  font-size: 60%;
}
.contact{
  font-size: 4em;
  text-shadow: 0px 4px 4px #000000;
}

.contact:hover
{
  text-shadow:none;
}
#hero {
  height: 800px;
  overflow: hidden;
  position: relative;
}
#links
{
  position:absolute;
  top:65%;
  z-index: 100;
  left:34%;
}
a:hover
{
  color: black;
  text-decoration:underline!important;
}
a{
  text-decoration:none!important;
}

h1#just1
{
  color: black;
  text-align:center;
margin-top:5%;
font-weight: normal;
  font-size:2em;
}

h1#just2
{
  color: black;
  text-align:center;
font-weight: normal;
  font-size:2em;
}
h1#rise {
  
  font-size: 8em;
  font-weight: normal;
  position: relative;
  text-shadow: 0px 4px 4px #000000; 
  left: 20% !important;
  z-index: -1;
  margin-top:-40%;
  padding: 0 auto;
  color: black;
}
h1#rise span
 {
  position: relative;
}
h1#rise span#i, h1#rise span#e,h1#rise span#f {
  top: 50px;
}


.layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  position: fixed;
  z-index: -1;
}

#hero-mobile {
  display: none;
  //background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/full_illustration.png") no-repeat center bottom/cover;
  height: 320px;
}

.first-section
 {
  padding: 50px 0 20px 0;
}


a{
  color: black;
}
#hero, .layer {
  min-height: 800px;
}

.layer-1 {
  background-image: url(../img/iphone.png);
  background-position: -20% 40%;
   background-size: 45% 60%;}

.layer-2 {
  background-image: url(../img/eadphones.png);
  background-size: 40% 50%;
  background-position: 120% 20%;
}

.layer-3 {
  background-image: url(../img/fitbit.png);
  background-size: 30% 30%;
  background-position: 20% 5%;
}

.layer-4 {
  background-image: url(../img/spects.png);
  background-position: 60% 10%;
}

.layer-5 {
  background-image: url(../img/about.png);
   background-size: 20% 10%;
   background-position: 60% 10%;
}


@media only screen and (max-width: 768px) {
  #hero {
    display: none;
  }

  #hero-mobile {
    display: block;
  }
}
@media only screen and (min-width: 1500px) {
  .layer-bg
  {
    position: relative;
    margin-top: 15%;
    margin-left: 5%;
    margin-bottom: 20%;

  }

}
