@namespace svgns url(http://www.w3.org/2000/svg);
html,body,svg { height:100% }/* As SVG does not provide a default visual style for links,
   it's considered best practice to add some */

@namespace svgns url(http://www.w3.org/2000/svg);
body{
background-color:black;
}
svgns|a {
  cursor: alias;
}

svgns|a text {
  fill:white; /* Even for text, SVG use fill over color */
  
}

svgns|a:hover, svgns|a:active {
  text-shadow: 0px 2px 2px #ffffff;
}